#controls {
  display: flex;

  & #start-stop {
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  & #reset {
    font-size: 2rem;
    margin-left: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
